.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-dark);
  border-bottom: 1px solid var(--color-grey);
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.date {
  font-size: 1.5rem;
  padding-left: 4rem;
  color: var(--color-accent);
  font-weight: bolder;
  opacity: 0.75;
}

.darkmodeButton {
  cursor: pointer;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  background-color: transparent;
  color: var(--color-accent);
}

@media (prefers-reduced-motion: no-preference) {
  .darkmodeButton {
    animation: dark-mode-button-spin infinite 15s linear;
  }
}

@keyframes dark-mode-button-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tabs {
  display: flex;
  list-style-type: none;
  margin-top: 20px;
}

.tab {
  font-size: 1.4rem;
  background-color: transparent;
  color: var(--color-accent);
  cursor: pointer;
  opacity: 0.75;
  font-weight: bold;
  padding: 0 10px;
}

.tab:hover,
.tab.selected {
  opacity: 1;
}

.tab.selected::after {
  content: "";
  display: block;
  margin-top: 0.2rem;
  border: 1px solid var(--color-accent);
}
